@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css or equivalent */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
